.tab-options{
    box-shadow:var(--border-white) 0vw -0.08vw 0vw inset;

}
.options-wrapper{
    display:flex;
}
.tab-item{
    margin-right: 2.2vw;
    padding:1vw 1vw 1.6vw 1vw;
}
.tab-name{
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 0.5vw;
    color:var(--inactive-text);
}
.tab-image-container{
    height:5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: var(--inactive-color);
}
.tab-image{
    height: 2.5vw;
    width: 2.5vw;
}
.active-tab{
    border-bottom:0.15vw solid var(--zomato-red);
}
.active-tab .tab-name{
    color:var(--zomato-red);
}


@media (max-width:600px){
    .tab-options{
        box-shadow:var(--border-white) 0vw -0.1vw 0vw inset;
    
    }
    .options-wrapper{
        display:flex;
    }
    .tab-item{
        margin-right: 2.2vw;
        padding:1.5vw 1.5vw 2vw 1.5vw;
    }
    .tab-name{
        font-size: 2vw;
        font-weight: 600;
        margin-left: 2vw;
        color:var(--inactive-text);
    }
    .tab-image-container{
        height:6vw;
        width: 6vw;
        border-radius: 50%;
        background-color: var(--inactive-color);
    }
    .tab-image{
        height: 3vw;
        width: 3vw;
    }
    .active-tab{
        border-bottom:0.5vw solid var(--zomato-red);
    }
    .active-tab .tab-name{
        color:var(--zomato-red);
    }
}