.top-brands{
    padding-top: 3vw;
}
.top-brands-cover{
    height:10vw;
    width:10vw;
    border-radius:50%;
    background-color: var(--primary-bg);
    box-shadow:var(--collection-shadow);
    border:0.1vw solid var(--border-white);
}

.top-brands-image{
    border-radius: inherit;
    height:100%;
    width:100%;
    object-fit: cover;
}
.brand-title{
    padding-top: 1vw;
}
.brand-time{
    padding-top: 0.4vw;
    color:var(--filter-text)
}

@media (max-width:600px){
    .brand-title{
        padding-top: 3vw;
        font-size: small;
    }
    .top-brands{
        padding-top: 3vw;
        font-size: small;
    }
    .top-brands-cover{
        height:10vw;
        width:10vw;
        border-radius:50%;
        background-color: var(--primary-bg);
        box-shadow:var(--collection-shadow);
        border:0.1vw solid var(--border-white);
      
    }
}