.collection-wrapper{
    background-color: var(--inactive-color);
}

.collection{
    padding:1.5vw 0vw 4vw;

}
.collection-subtitle-row{
    display:flex;
    /*justify-content: center;*/
    align-items: center;
    margin-bottom:1vw;
}
.collection-subtitle-text{
    color:var(--subtitle-text);
    font-size:1.2vw;
}
.collection-location{
    color:var(--zomato-red);
    display:flex;
}

@media (max-width:600px){
    .collection-wrapper{
        background-color: var(--inactive-color);
        display: flex;
        justify-content: space-between;
      
    }
    
    .collection{
        padding:1.5vw 0vw 4vw;
    display: inline;
    }
    .collection-subtitle-row{
        display:flex;
        align-items: center;
        margin-bottom:1vw;
    }
    .collection-subtitle-text{
        color:var(--subtitle-text);
        font-size:1.8vw;
    }
    .collection-location{
        color:var(--zomato-red);
        display:flex;
    }
    
}